{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range site.Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ site.Home.Permalink }}">
						<img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" height="42" />
					</a>
					<br>
					<p>{{ site.Params.copyright | markdownify }}</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

{{ end }}

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.8.5"> </script>
<script>
  function indexOfMax(arr) {
	  if (arr.length === 0) {
              return -1;
	  }
	  
	  var max = arr[0];
	  var maxIndex = 0;
	  
	  for (var i = 1; i < arr.length; i++) {
              if (arr[i] > max) {
		  maxIndex = i;
		  max = arr[i];
              }
	  }
	  
	  return maxIndex;
      }
</script>
    
<script>

// the selector will match all input controls of type :checkbox
// and attach a click event handler 
$("input.radio").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
  

  var limit = 3;
  $('input.single-checkbox').on('change', function(evt) {
      if($(this).siblings(':checked').length >= limit) {
	  this.checked = false;
      }
  });

  
  function resetForm(form){
      form.reset()
      document.getElementById('formsubin').innerHTML = ''
      document.getElementById('formsubres').innerHTML = ''
      document.getElementById('formsubreshead').innerHTML = ''
      document.getElementById('formsubresbuffer').innerHTML = ''
      document.getElementById('formsubout').innerHTML = ''
      document.getElementById('formsubimg').innerHTML = ''
      document.getElementById('form-results').style.backgroundColor = null;
  }
  

//  async function predictFromModel(form){ 
//      drinkResults=['EspressoMartini', 'Spritz', 'Old Fashioned', 'Negroni', 'Pornstar Martini', 'Mojito', 'Daiquiri', 'Cosmopolitan', 'Pina Colada', 'Dark & Stormy', 'Manhattan']
//      
//      model = await tf.loadLayersModel('web_model/model.json')
//      //model = await tf.loadModel('web_model/model.json')
//      probability_model = tf.sequential()
//      probability_model.add(model)
//      probability_model.add(tf.layers.softmax())
//
//      //var inputs = []
//      //inputs.push()
//      var inputs = form.inputbox.value.split(',')
//      //scale inputs
//      var mean = [4.196, 0.25,  8.16,  2.825, 3.8,   3.35 ]
//      var sd = [2.711366782503271, 0.4329584001183183, 5.020623296926075, 1.2327778252824464, 2.8913415108617593, 1.979273784968733]
//      var scaled_inputs = []
//      for (i = 0; i < inputs.length; i++) {
//	  scaled_inputs[i] = (inputs[i]-mean[i])/sd[i]
//      }
//      
//      document.getElementById('mysubin').innerHTML = 'INPUTS: '+inputs
//      predictions = probability_model.predict(tf.tensor(scaled_inputs, [1,6], 'float32'))
//      //document.getElementById('out').innerHTML = 'HELLO'
//       //document.getElementById('mysubres').innerHTML = 'OUTPUT: '+predictions.dataSync()
//      var results=predictions.dataSync()
//      document.getElementById('mysubres').innerHTML = 'OUTPUT: <br>'+
//	  'Predictions: '+results+'<br>'+
//	  'Best guess: '+drinkResults[indexOfMax(results)]
//  } 


  function getChecked(boxes,name){
      var vals=[]
      counter=0
      for (i = 0; i < boxes.length; i++) {
	  if (boxes[i].checked) {
	      vals.push(1)
	      counter+=1
	  }else{
	      vals.push(0)
	  }
      }
      if(counter==0){
	  alert ("You need to provide an entry for \"" + name + "\"");
	  return -1
      }
      return vals
  }

  function getJSONFromFile(filename,callback) {
      $.getJSON(filename, function(json) {
          callback(json);
      });
  }

  function getRandomPastime(obj) {
      var n=0
      for(key in obj){
	  if (obj[key]['all']!=''){
	      n=n+1
	  }
      }
      var rand=Math.random()
      var n_rand=Math.floor(rand * Math.floor(n))+1
      console.log(rand,n,n_rand)
      return obj['Pastime '+n_rand]['all']
  }
  
  async function predictFromFormModel(form){
      
      drinkResults=['Espresso Martini', 'Spritz', 'Bitter Spritz', 'Old Fashioned', 'Smokey Old Fashioned', 'Negroni', 'Smokey Negroni', 'Manhattan', 'Classic Dry Martini', 'Classic Wet Martini', 'Classic Dirty Martini', 'Martinez', 'Sour', 'Ginger Sour', 'Smokey Sour', 'Penicillin', 'Margarita', 'Paloma', 'Milk Punch', 'Highball', 'Smokey Highball', 'Coffee Highball', 'Americano', 'Mule', 'Collins']
      
      GoToDrink = ['Vodka', 'Light Rum', 'Aged Rum', 'Gin', 'Tequila', 'Scotch Whisky', 'Irish Whiskey', 'Mezcal', 'Cognac/Brandy', 'Bourbon', 'Not sure']
      DrinkStyle = ['Short', 'Long']
      FavouriteTasteProfile = ['Refreshing', 'Fruity', 'Fizzy', 'Sour', 'Ginger', 'Smokey', 'Bitter', 'Herb', 'Spicy (heat)', 'Sweet', 'Floral', 'Umami', 'Spice', 'Strong (alcohol)', 'Lighter (alcohol)', 'Coffee']
      FavouriteFruitType = ['Orchard', 'Berry', 'Tropical', 'Citrus', 'Get that stuff out my cocktail', 'Hard to say']
      FavouriteCuisine = ['French', 'Italian', 'British', 'Chinese', 'Thai', 'Japanese', 'Carribean', 'American', 'Mexican', 'Indian', 'Middle Eastern', 'Tapas', "Don't make me choose"]
      FavouriteSeason = ['Spring', 'Summer', 'Autumn', 'Winter', 'Tricky one']
      FavouritePastime = ['Adventure sports', 'Sitting by the pool', 'Cosying up by the fire', 'Party holiday', 'Exploring nature', 'Eating out', 'Socialising with friends']

//      var answers=[]
//      answers.push(GoToDrink)
//      answers.push(DrinkStyle)
//      answers.push(FavouriteTasteProfile)
//      answers.push(FavouriteFruitType)
//      answers.push(FavouriteCuisine)
//      answers.push(FavouriteSeason)
//      answers.push(FavouritePastime)
      
      var anslist=[]
      anslist.push(...GoToDrink)
      anslist.push(...DrinkStyle)
      anslist.push(...FavouriteTasteProfile)
      anslist.push(...FavouriteFruitType)
      anslist.push(...FavouriteCuisine)
      anslist.push(...FavouriteSeason)
      anslist.push(...FavouritePastime)
      
      model = await tf.loadLayersModel('web_model/model.json')
      //model = await tf.loadModel('web_model/model.json')
      probability_model = tf.sequential()
      probability_model.add(model)
      probability_model.add(tf.layers.softmax())
      
      var inputs = []
      inputs.push(...getChecked(form.GoToDrink,"Go-to drink"))
      inputs.push(...getChecked(form.DrinkStyle,"Drink style"))
      inputs.push(...getChecked(form.FavouriteTasteProfile, "Favourite taste profile"))
      inputs.push(...getChecked(form.FavouriteFruitType,"Favourite fruit type"))
      inputs.push(...getChecked(form.FavouriteCuisine,"Favourite cuisine"))
      inputs.push(...getChecked(form.FavouriteSeason,"Favourite season"))
      inputs.push(...getChecked(form.FavouritePastime,"Favourite pastime"))


      ////scale inputs
      //var mean = [4.196, 0.25,  8.16,  2.825, 3.8,   3.35 ]
      //var sd = [2.711366782503271, 0.4329584001183183, 5.020623296926075, 1.2327778252824464, 2.8913415108617593, 1.979273784968733]
      //var scaled_inputs = []
      //for (var i = 0; i < inputs.length; i++) {
      //	  if (inputs[i] == -1){
      //	      //invalid input
      //	      return
      //	  }
      //	  scaled_inputs[i] = (inputs[i]-mean[i])/sd[i]
      //}
      var scaled_inputs=inputs
      
      var forminputs = '<br><br><br><br>INPUTS: <br>'+ inputs+'<br>'+ scaled_inputs
      forminputs=forminputs+'<br><br>'
      for(i=0; i<inputs.length;i++){
	  if (inputs[i] == 1){
	      forminputs=forminputs+' '+anslist[i]+' ('+i+')<br>'
	  }
      }
      
      document.getElementById('formsubin').innerHTML = forminputs
      
      predictions = probability_model.predict(tf.tensor(scaled_inputs, [1,60], 'int32'))
      //document.getElementById('out').innerHTML = 'HELLO'
      var results=predictions.dataSync()

      var neutralans=0
      var spirittype=''
      var spiritname=''

      var ilo=0
      var ihi=ilo+GoToDrink.length
      console.log("GoToDrink: "+ilo+" "+ihi)
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){ //skip "not sure"
	      if(GoToDrink[i-ilo]=="Not sure"){
		  neutralans+=1
	      }else{
		  spirittype=GoToDrink[i]
		  spiritname=GoToDrink[i]+' '
	      }
	      break
	  }
      }

      ilo=ihi+DrinkStyle.length
      ihi=ilo+FavouriteTasteProfile.length
      console.log("Taste: "+ilo+" "+ihi)
      
      var tastes=[]
      var tastename=''
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){
	      tastes.push(FavouriteTasteProfile[i-ilo])
	  }
      }

      ilo=ihi
      ihi=ilo+FavouriteFruitType.length
      console.log("Fruit: "+ilo+" "+ihi)
      
      var fruit=''
      var fruitname=''
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){
	      if(FavouriteFruitType[i-ilo]=="Hard to say"){
		  neutralans+=1
		  break
	      }else if(FavouriteFruitType[i-ilo]!="Get that stuff out my cocktail" ){
		  fruit=FavouriteFruitType[i-ilo]
		  fruitname=FavouriteFruitType[i-ilo]+' '
		  break
	      }
	  }
      }

      
      ilo=ihi
      ihi=ilo+FavouriteCuisine.length
      console.log("Cuisine: "+ilo+" "+ihi)
      
      var cuisine=''
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){
	      if(FavouriteCuisine[i-ilo]=="Don't make me choose"){
		  neutralans+=1
		  break
	      }else{
		  cuisine=FavouriteCuisine[i-ilo]
		  break
	      }
	  }
      }


      ilo=ihi
      ihi=ilo+FavouriteSeason.length
      console.log("Season: "+ilo+" "+ihi)
      
      var season=''
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){
	      if(FavouriteSeason[i-ilo]=="Tricky one"){
		  neutralans+=1
		  break
	      }else{
		  season=FavouriteSeason[i-ilo]
		  break
	      }
	  }
      }

      
      ilo=ihi
      ihi=ilo+FavouritePastime.length
      console.log("Pastime: "+ilo+" "+ihi)
      
      var pastime=''
      for(i=ilo; i<ihi; i++){
	  if(inputs[i] == 1){
	      pastime=FavouritePastime[i-ilo]
	      break
	  }
      }


      if(neutralans>1){
	  
      }
      
      document.getElementById('form-results').style.backgroundColor = "#737f8a";
      document.getElementById('formsubresbuffer').innerHTML = '<br><br><br>'
      if(neutralans>1){
	  document.getElementById('formsubresbuffer').innerHTML = "<br><br><br>We're still going to give it our best shot, but for some questioms you haven't given us much to go on here... If you're not happy with our suggestion try adding more specific answers to some of the questions.<br>"
      }

      document.getElementById('formsubreshead').innerHTML = '<h2>Your perfect cocktail is: <h2>'
      
      var resimg = '<img style="max-width:100%" src="images/portfolio/'+drinkResults[indexOfMax(results)].replaceAll(' ','_')+'.jpg">'
      document.getElementById('formsubimg').innerHTML = resimg
      
      var drinkResult=drinkResults[indexOfMax(results)]

      // Get custom fruit/flavour
      console.log(fruit+', '+fruitname+', '+tastes+', '+cuisine)

	  
      getJSONFromFile("web_model/Cocktail_Studio_Questions-Flavours.json",function(flav_json) {
	  getJSONFromFile("web_model/Cocktail_Studio_Questions-Drinks.json",function(drinks_json) {
	      getJSONFromFile("web_model/Cocktail_Studio_Questions-Descriptions-Pastime.json",function(pastime_json) {
		  getJSONFromFile("web_model/Cocktail_Studio_Questions-Garnish.json",function(garnish_json) {
		  
		      description=getdesc(drinks_json,pastime_json,flav_json,garnish_json,drinkResult,spirittype,fruit,cuisine,pastime,tastes)

		      document.getElementById('formsubres').innerHTML = description
		      
		  })
	      })
	  })
      })
			
      
      var output='OUTPUT: <br>'+
	  '<br>Best guess: '+drinkResults[indexOfMax(results)]+' ('+(100.*results[indexOfMax(results)]).toFixed(2)+'%)<br><br>'+
	  'Predictions:<br>'
      
      for (var r = 0; r<results.length; r++){
	  output=output+' - '+drinkResults[r]+': '+results[r].toFixed(3)+'<br>'
      }
      document.getElementById('formsubout').innerHTML = output      
      
      var url = location.href;               //Save down the URL without hash.
      location.href = "#formres";                 //Go to the target element.
      history.replaceState(null,null,url);   //Don't like hashes. Changing it back.

      
  } 


  
</script>


{{ $getdesc := resources.Get "js/getdesc.js" | minify | fingerprint "sha384"}}
<script src="{{ $getdesc.Permalink }}" integrity="{{ $getdesc.Data.Integrity }}"></script>
