{{ $data := index site.Data site.Language.Lang }}

{{ if $data.form.form.enable }}
{{ with $data.form.form }}
{{"<!-- Start Form Us -->" | safeHTML}}


<section id="form" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{"<!-- Form Details -->" | safeHTML}}
			<div class="contact-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
				<h3>{{ .subtitle | markdownify }}</h3>
				<p> {{ .content | markdownify }} </p>

				{{ if .form_form.enable }}
				<div class="contact-details">
					{{ range .contact_list }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
				{{ end }}
			</div>

		</div>
		<!--
		<p>TEST</p>
		<p id ='out'></p>
		-->
		<!--
		<FORM NAME="myform" ACTION="" METHOD="GET">Enter something in the box: <BR>
		  <INPUT TYPE="text" NAME="inputbox" VALUE=""><P>
		    <INPUT TYPE="button" NAME="button" Value="Click" onClick="testResults(this.form)">
		</FORM>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<form id="contact-form" class="form-meghna" method="post" role="form">		

<p><h4>First, we'd like to get to know you better. Tell us a little bit about yourself!</h4></p>

<div class="row">
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite cuisine? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="French"> French<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Italian"> Italian<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="British"> British<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Chinese"> Chinese<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Thai"> Thai<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Japanese"> Japanese<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Carribean"> Carribean<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="American"> American<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Mexican"> Mexican<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Indian"> Indian<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Middle Eastern"> Middle Eastern<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Tapas"> Tapas<br>
    <input class="radio" type="checkbox" name="FavouriteCuisine" value="Don't make me choose"> Don't make me choose<br>
    <br>
  </div>
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite season? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="FavouriteSeason" value="Spring"> Spring<br>
    <input class="radio" type="checkbox" name="FavouriteSeason" value="Summer"> Summer<br>
    <input class="radio" type="checkbox" name="FavouriteSeason" value="Autumn"> Autumn<br>
    <input class="radio" type="checkbox" name="FavouriteSeason" value="Winter"> Winter<br>
    <input class="radio" type="checkbox" name="FavouriteSeason" value="Tricky one"> Tricky one<br>
    <br>
  </div>
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite pastime? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Adventure sports"> Adventure sports<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Sitting by the pool"> Sitting by the pool<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Cosying up by the fire"> Cosying up by the fire<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Party holiday"> Party holiday<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Exploring nature"> Exploring nature<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Eating out"> Eating out<br>
    <input class="radio" type="checkbox" name="FavouritePastime" value="Socialising with friends"> Socialising with friends<br>
    <br>
  </div>
</div>
<p><h4>And now for your drink preferences...</h4></p>		  

<div class="row">
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Go-to drink? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="GoToDrink" value="Vodka"> Vodka<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Light Rum"> Light Rum<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Aged Rum"> Aged Rum<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Gin"> Gin<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Tequila"> Tequila<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Scotch Whisky"> Scotch Whisky<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Irish Whiskey"> Irish Whiskey<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Mezcal"> Mezcal<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Cognac/Brandy"> Cognac/Brandy<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Bourbon"> Bourbon<br>
    <input class="radio" type="checkbox" name="GoToDrink" value="Not sure"> Not sure<br>
    <br>
  </div>
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite drink style? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="DrinkStyle" value="Short"> Short<br>
    <input class="radio" type="checkbox" name="DrinkStyle" value="Long"> Long<br>
    <br>
  </div>
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite taste profiles? (Max 3)</strong></p>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Refreshing"> Refreshing<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Fruity"> Fruity<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Fizzy"> Fizzy<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Sour"> Sour<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Ginger"> Ginger<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Smokey"> Smokey<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Bitter"> Bitter<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Herb"> Herb<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Spicy (heat)"> Spicy (heat)<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Sweet"> Sweet<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Floral"> Floral<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Umami"> Umami<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Spice"> Spice<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Strong (alcohol)"> Strong (alcohol)<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Lighter (alcohol)"> Lighter (alcohol)<br>
    <input class="single-checkbox" type="checkbox" name="FavouriteTasteProfile" value="Coffee"> Coffee<br>
    <br>
  </div>
  <div class="col-lg-3 wow fadeInUp">
    <p><strong>Favourite fruit type? (Max 1)</strong></p>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Orchard"> Orchard<br>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Berry"> Berry<br>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Tropical"> Tropical<br>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Citrus"> Citrus<br>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Get that stuff out my cocktail"> Get that stuff out my cocktail<br>
    <input class="radio" type="checkbox" name="FavouriteFruitType" value="Hard to say"> Hard to say<br>
    <br>
  </div>
</div>

		<a name="formres">		  
 		  <INPUT TYPE="button" NAME="button" Value="Submit" onClick="predictFromFormModel(this.form)"> 
		  <button type="reset" onclick="resetForm(this.form)"> Reset </button>
		</a>
		
		</form>

		<p id='formsubresbuffer'></p>
		<div id="form-results" class="form-result" style="max-width:700px">
		  <p id='formsubreshead'>
		  <div class="row">
		    <div id="formsubimg" class="col-md-6 col-lg-6" ></div>
		    <div id="formsubres" class="col-md-6 col-lg-6" style="padding-top:10px"></div>
		    
		  </div>
		</div>
		
		<p id ='formsubrawin'></p>
		<p id ='formsubin'></p>
		<p id ='formsubout'></p>
		
<!--		<FORM NAME="myform" ACTION="" METHOD="GET">Enter something in the box: <BR>
		  <INPUT TYPE="text" NAME="inputbox" VALUE=""><P>
		    <INPUT TYPE="button" NAME="button" Value="Click" onClick="predictFromModel(this.form)">
		</FORM>
		<p id ='mysubin'></p>
		<p id ='mysubres'></p>
		-->
		
	</div>
</section>
{{"<!-- /form -->" | safeHTML}}
{{ end }}
{{ end }}
